<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>

<form action='/add_link' method='post'>
  <button type='submit' name='add_link' value='Add link'>
    </button>
    </form>
